<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <meta name="theme-color" content="#a185ff" />
  <meta name="description" content="My personal website." />

  {% if title %}
    <title>Joseph Ghanimah | {{title}}</title>
  {% else %}
    <title>Joseph Ghanimah</title>
  {% endif %}
  
  <!-- Open Graph XML -->
  <meta property="og:title" content="Joseph Ghanimah" />
  <meta property="og:description" content="My personal website." />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="josephghanimah.com" />
  <meta property="og:image" content="{{ url_for('static',filename='images/headshot-square.jpg') }}" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="300" />

  <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

  <!-- Icon for top of the page -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
  <!-- Google fonts API -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap" rel="stylesheet">
  <!-- Materialize CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <!-- Project CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <!-- reCAPTCHA -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115374634-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-115374634-3');
  </script>

</head>

<body>

  <div class="parallax_group">
    <div class="parallax_layer parallax_layer_back">
    </div>
    
    <div class="parallax_layer parallax_layer_front">
      
      <!-- HEADER -->
      <header>
        <!-- Top navbar -->
        <div class="navbar-fixed">
          <nav role="navigation">
            <div class="nav-wrapper container">
              <a class="top large material-icons" href="{{ url_for('main.home') }}">home</a>
              <ul class="top right hide-on-med-and-down" >
                <li class="top"><a href="{{ url_for('main.home') }}" style="font-size: 1.3rem;"> Home</a></li>
                <li class="top"><a href="{{ url_for('main.about') }}" style="font-size: 1.3rem;"> About Me</a></li>
                <li class="top"><a href="https://github.com/Jfghanimah" target="_blank" style="font-size: 1.3rem;"><i class="fab fa-github" style="font-size: 1.2rem;"></i> Github</a></li>
                <li class="top"><a href="https://www.linkedin.com/in/joseph-ghanimah/" target="_blank" style="font-size: 1.3rem;"><i class="fab fa-linkedin" style="font-size: 1.2rem;"></i> Linkedin</a></li>
              </ul>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
          </nav>
        </div>
    
        <!-- Mobile navbar -->
        <ul id="nav-mobile" class="sidenav" id="mobile-links">
          <li><a href="{{ url_for('main.home') }}">Home</a></li>  
          <li><a href="{{ url_for('main.about') }}">About Me</a></li> <!-- perhaps add github and linkedin -->     
          <li class="top"><a href="{{ url_for('main.home') }}">Blog</a></li>
        </ul>
    
        <div class="container center-align">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="row card alert_box {{category}}" id='alert_box'>
            <div class="card-content white-text">
              <p> {{ message }} </p>
              <i class="fa fa-times right alert_close" id="alert_close" aria-hidden="true" style="
                        position: absolute;
                        right: 30px;
                        top: 25px;
                        font-size: 18px;
                        cursor:pointer; "></i>
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
    
      </header>

      <!-- CONTENT -->
      {% block content %}
      {% endblock %}

      <!-- FOOTER -->
      <footer class="page-footer" id="footer-settings">
        <div class="container">
          <div class="row">

            <div class="col l10 s12">
              <h5 class="grey-text text-lighten-1">Resources</h5>
              <ul>
                <li><a href="#">placeholder@gmail.com</a></li>
                <li>Sorry! I'm getting so much spam from bots right now!</li>
                <li>After I figure out how to prevent spam it will be back up :)</li>
              </ul>
            </div>
            <div class="col l2 s12">
              <h5 class="grey-text text-lighten-1">Links</h5>
              <ul>
                <li><a class="" href="https://github.com/Jfghanimah" target="_blank">
                    <i class="fab fa-github"> </i> Github</a></li>
                <li><a class="" href="https://www.linkedin.com/in/joseph-ghanimah/" target="_blank">
                    <i class="fab fa-linkedin"> </i> Linkedin</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div style="text-align:center;" class="footer-copyright">
          <div style="text-align:center;" class="container grey-text text-lighten-2">
            <p> © 2023 Joseph Ghanimah</p>
          </div>
        </div>
      </footer>
      
    </div>

  </div>
 

  <!--  Scripts-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static',filename='js/init.js') }}"></script>

</body>

</html>