{% extends "base.html" %}
{% block content %}

<!-- Picture and Intro -->
<div class="container center-align white-text fade-in">
  <br><br>
  <img width="300px" style="border-radius:50%;" src="{{ url_for('static',filename='images/headshot-square.jpg') }}">
  <h1>Joseph F. Ghanimah</h1>
  <p class="grey-text text-lighten-1" style="font-size: calc(1.5vw + 10px);">
    I'm a Senior at The University of Illinois at Urbana-Champaign. Majoring in Computer Engineering with minors in
    Mathematical Statistics and Data Science. I have past experience in various projects involving Machine Learning,
    Data Science, Predictive
    analytics, and Cloud Computing using tools such as Python, Flask, Django, C++, TensorFlow, and Google Cloud
    Platform.
  </p>
  <br><br><br>
</div>

<!-- Project Slab -->
<div id="slab" class="z-depth-2 container darken-4 white-text fade-in">

  <nav>
    <div class="center">
      <ul style = "display:flex; justify-content:center;">
        <li class="top"><a href="#goal" style="font-size: calc(1.3vw + 7px);">Mission</a></li>
        <li class="top"><a href="#webdev" style="font-size: calc(1.3vw + 7px);">Web Dev</a></li>
        <li class="top"><a href="#ml" style="font-size: calc(1.3vw + 7px);">ML</a></li>
        <li class="top"><a href="#miscproj" style="font-size: calc(1.3vw + 7px);">Misc.</a></li>
        <li class="top"><a href="#resume" style="font-size: calc(1.3vw + 7px);">Resume</a></li>
      </ul>
    </div>
  </nav>


  <div class="section container" style="width:85%">
    <!-- Mission Section-->
    <br id="mission">
    <div class="row">

      <h1 class="center-align">Mission</h1>
      <br>
      <p class="flow-text center-align"> I am passionate about using data to solve problems and drive innovation, and my
        strong
        background in machine learning and data science, along with my adaptability and critical thinking skills, make
        me an ideal candidate to contribute to this mission. I am a versatile problem-solver with a keen interest in
        staying informed and constantly improving my work, and I am eager to use my skills and expertise to make a
        positive impact in my field. I hope you enjoy some of my works below.</p>
      <br><br><br><br><br>

    </div>
    <div class="divider"></div>

    <!-- Web Dev Section-->
    <br id="webdev">
    <div class="row">

      <h1 class="center-align">Web Dev</h1>
      <br>

      <div class="col m12 l6">
        <article class="card grey darken-3 z-depth-1">

          <div class="card-image">
            <img src="static/images/mysite.jpg">
            <span class="card-title card transparent-1">This Site!</span>
          </div>

          <div class="card-content">
            <span class="card-title">
              <p class="blue-text text-lighten-1"><i class="material-icons">date_range</i> 04/28/2023 </p>
            </span>
            <p> This is a work in progress website that will showcase the work of Joseph Ghanimah.
              It also serves as a way to demonstrate my skills in Python (Flask), HTML, CSS, and JS. </p>
          </div>

          <div class="card-action">
            <a class="blue-text" href="https://github.com/Jfghanimah/josephghanimah.com">Github Repository </a>
          </div>
        </article>
      </div>

      <div class="col m12 l6">
        <article class="card grey darken-3 z-depth-1">

          <div class="card-image">
            <img src="static/images/collegecod.jpg">
            <span class="card-title card transparent-1">Collegecod.com</span>
          </div>

          <div class="card-content">
            <span class="card-title">
              <p class="blue-text text-lighten-1"><i class="material-icons">date_range</i> 9/16/2019 - Ongoing</p>
            </span>
            <p>Perhaps one day these cards will link to pages that go into further detail
              on the projects they showcase. This right here is text that you are reading.</p>
          </div>

          <div class="card-action">
            <a class="blue-text" href="https://collegecod.com" target="_blank">Website Link</a>
          </div>

        </article>
      </div>

    </div>
    <div class="divider"></div>


    <!-- Machine Learning Section -->
    <br id="ml">
    <div class="row">

      <h1 class="center-align">Machine Learning</h1>
      <br>

      <div class="col m12 l4">
        <article class="card grey darken-3 z-depth-1">
          <div class="card-image">
            <img src="static/images/lolmap.jpg">
            <span class="card-title card transparent-1">LoL Draft Analyzer</span>
          </div>

          <div class="card-content">
            <span class="card-title">
              <p class="blue-text text-lighten-1"><i class="material-icons">date_range</i> 10/30/2022 </p>
            </span>
            <p>loldraft-analyzer is a machine learning model that predicts the outcome of League of Legends matches
              based on drafted champions
            </p>
          </div>
          <div class="card-action">
            <a class="blue-text" href="{{ url_for('main.lol_draft_project') }}">Learn more</a>
          </div>
        </article>
      </div>

      <div class="col m12 l4">
        <div class="card grey darken-3">
          <div class="card-image">
            <img src="static/images/dcgan.gif">
            <span class="card-title card transparent-1">DCGAN</span>
          </div>
          <div class="card-content">
            <span class="card-title">
              <p class="blue-text text-lighten-1"><i class="material-icons">date_range</i> 01/01/2020 </p>
            </span>
            <p>My Deep Convolutional Generative Adversarial Network project uses two models to generate and distinguish
              real and fake numbers.</p>
          </div>
          <div class="card-action">
            <a class="blue-text" href="{{ url_for('main.dcgan_project') }}">Learn more</a>
          </div>
        </div>
      </div>

      <div class="col m12 l4">
        <div class="card grey darken-3">
          <div class="card-image">
            <img src="static/images/snake_game_ai.jpg">
            <span class="card-title card transparent-1">Perfect Snake AI</span>
          </div>
          <div class="card-content">
            <span class="card-title">
              <p class="blue-text text-lighten-1"><i class="material-icons">date_range</i> 12/23/2021 </p>
            </span>
            <p>My Snake Game AI project explores and compares different algorithms for completing the game as
              efficiently as possible to perfection</p>
          </div>
          <div class="card-action">
            <a class="blue-text" href="{{ url_for('main.snake_ai_project') }}">Learn more</a>
          </div>
        </div>
      </div>

    </div>
    <div class="divider"></div>


    <!-- Misc Proj Section-->
    <br id="miscproj">
    <div class="row">

      <h1 class="center-align">Miscellaneous Projects</h1>
      <br>

      <div class="col m12 l6">
        <article class="card grey darken-3 z-depth-1">

          <div class="card-image">
            <img src="static/images/tax.jpg">
            <span class="card-title card transparent-1">Improved Glicko2 Rating System</span>
          </div>

          <div class="card-content">
            <span class="card-title">
              <p class="blue-text text-lighten-1"><i class="material-icons">date_range</i> 1/15/2022 </p>
            </span>
            <p> My improved Glicko2 rating system accurately measures the skill level of players in various competitive
              games using advanced algorithms and techniques. </p>
          </div>

          <div class="card-action">
            <a class="blue-text" href="{{ url_for('main.rating_project') }}">Learn more</a>
          </div>
        </article>
      </div>

      <div class="col m12 l6">
        <article class="card grey darken-3 z-depth-1">

          <div class="card-image">
            <img src="static/images/project1.webp">
            <span class="card-title card transparent-1">Weight Lifting Social App</span>
          </div>

          <div class="card-content">
            <span class="card-title">
              <p class="blue-text text-lighten-1"><i class="material-icons">date_range</i> 9/16/2022 - Ongoing</p>
            </span>
            <p>My Social Weight Lifting App is a fitness tracking and social networking platform for users to track
              their progress and connect with other fitness enthusiasts.</p>
          </div>

          <div class="card-action">
            <a class="blue-text" href="{{ url_for('main.lifting_app_project') }}">Learn more</a>
          </div>

        </article>
      </div>

    </div>
    <div class="divider"></div>



    <!-- Resume Section -->
    <br id="resume">
    <div class="row">

      <h1 class="center-align">Resume</h1>
      <br>
      <div class="col s12 center-align">
        <a href="static/JosephResume.pdf" target="_blank">
          <img class="center-align" src="static/images/resume.jpg" width="656" height="800">
        </a>
      </div>
      <p>&#160;</p>
      <br><br>
      <br>

    </div>
  </div>
</div>

<br><br><br id="contact"><br><br><br><br><br>
<!-- Contact me section -->
<div class="container">
  <h3 class="center-align white-text">Contact me</h3>
  <div class="row">



    <form class="col s8 offset-s2" method="post" action="/">
      {{ form.csrf_token }}

      <div class="row">
        <div class="input-field col s6">
          {{ form.name(class = "validate")}}
          {{ form.name.label(class = "")}}

          {% if form.name.errors %}
          {% for error in form.name.errors %}
          <span class="helper-text left-align red-text" data-error="" data-success="">{{error}}</span>
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          {{ form.email(class = "")}}
          {{ form.email.label(class = "")}}

          {% if form.email.errors %}
          {% for error in form.email.errors %}
          <span class="helper-text left-align red-text" data-error="" data-success="">{{error}}</span>
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          {{ form.subject(class = "validate")}}
          {{ form.subject.label(class = "")}}

          {% if form.subject.errors %}
          {% for error in form.subject.errors %}
          <span class="helper-text left-align red-text" data-error="" data-success="">{{error}}</span>
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          {{ form.message(class = "materialize-textarea")}}
          {{ form.message.label(class = "")}}

          {% if form.message.errors %}
          {% for error in form.message.errors %}
          <span class="helper-text left-align red-text" data-error="" data-success="">{{error}}</span>
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <!-- Extra Question to stop reCaptcha bots idk how else to stop-->
      <div class="row">
        <div class="input-field col s6">
          <label for="question">What day of the month is it?</label>
          <input type="text" id="question" name="question">

        </div>
      </div>

      <div class="row">
        <div class="g-recaptcha" data-sitekey="6LdBZM8ZAAAAAJUPpxQqcZFOQ0pk4MFetp4untjU"></div>
        <br />
        <button class="btn waves-effect waves-light cyan" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>

    </form>



  </div>
</div>
<br><br><br><br><br><br><br>

{% endblock content %}