{% extends "base.html" %}
{% block content %}

<style>
  .parallax_layer_back {
    height: 1200px !important;
  }
</style>


<!-- Picture and Intro -->
<div class="container center-align white-text fade-in">
  <br><br>
  <img width="300px" style="border-radius:50%;" src="{{ url_for('static',filename='images/headshot-square.jpg') }}">
  <h1>Joseph F. Ghanimah</h1>
  <br><br><br>
</div>

<!-- Project Slab -->
<div id="slab" class="z-depth-2 container darken-4 white-text fade-in">

  <div class="section container">
    <br id="bio">
    <div class="row">

      <h1 class="center-align">Better Rating System</h1>
      <br><br>
      <p class="flow-text">•I decided to create an improved version of the Glicko2 rating system.
        The Glicko2 rating system is a widely used method for evaluating the skill levels of players in competitive
        games, and has been applied to a variety of different domains including chess, go, and video games. However,
        there are some limitations to the original Glicko2 system, and I saw an opportunity to make some improvements.
      </p><br>

      <p class="center-align">
        <img  width="500px" style="border-radius:2%;" src="{{ url_for('static',filename='images/glicko.jpg') }}">
      </p> <br>

      <p class="flow-text">To create my improved version of the Glicko2 rating system, I started by reviewing the
        existing literature and understanding the underlying principles and assumptions of the original system. I then
        identified areas where I thought the system could be improved, and developed a set of modifications and
        enhancements to address these issues. Some of the specific changes I made included:</p><br>
      <ul class="flow-text">
        <li class="flow-text">• Adjusting the way the system handles draws and ties</li>
        <li class="flow-text">• Incorporating additional information about the players and their history into the rating calculation</li>
        <li class="flow-text">• Adding a mechanism for adjusting the rating period dynamically based on the rate of change in the ratings
        </li>
      </ul><br>
      <p class="flow-text">After implementing my improved version of the Glicko2 rating system, I ran a series of
        simulations and tests to evaluate its performance. Overall, I was pleased with the results and found that my
        system outperformed the original Glicko2 system in a variety of different scenarios. I believe that my improved
        version of the Glicko2 rating system has the potential to be a valuable tool for evaluating the skill levels of
        players in competitive games, and I am excited to see how it might be applied in the future.</p> <br><br>

        <p class="center-align">
          <a class="waves-effect waves-light btn-large purple" href="https://josephghanimah.com/smash">Check out my rating system in action!</a>
        </p>

      <br><br><br><br><br>

    </div>

  </div>
</div>


<br><br><br><br><br><br><br>

{% endblock content %}