{% extends "base.html" %}
{% block content %}


<style>
    .parallax_layer_back {
        height: 950px !important;
    }
</style>

<div class='container section center white-text'>

        <video id="my-video"
        class="video-js vjs-big-play-centered"
        controls
        preload="auto"
        width="1280"
        height="720"
        data-setup="{}">
        <source src="static/media/{{video_name}}" type="video/mp4" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"> supports HTML5 video </a>
        </p>
      </video>
    
      <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
      <br>
      <a class="waves-effect waves-light btn cyan black-text" href="javascript:history.back()"> <h6><b>⯇ GO BACK</b></h6> </a>
      <br><br><br>

</div>

{% endblock content %}